* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;

}

.App {
  background-image: url('./background/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.App.warm {
  background-image: url('./background/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 8px;
}

.search-box 
{
  width: 69%;
  margin: 55px;
}

.search-box .search-bar
{
  display: block;
  width: 128%;
 
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: 0px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 95px;
  font-weight: 680;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}



.footer-widget p {
  margin-bottom: 20px;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
color:white;
  line-height: 28px;
}

 .animate-border {
position: relative;
display: block;
width: 115px;
height: 30px;
background: #007bff; }

.animate-border:after {
position: absolute;
content: "";
width: 35px;
height: 3px;
left: 0;
bottom: 0;
border-left: 10px solid #fff;
border-right: 10px solid #fff;
-webkit-animation: animborder 2s linear infinite;
animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

@keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

.animate-border.border-white:after {
border-color: #fff; }

.animate-border.border-yellow:after {
border-color: #F5B02E; }

.animate-border.border-orange:after {
border-right-color: #007bff;
border-left-color: #007bff; }

.animate-border.border-ash:after {
border-right-color: #EEF0EF;
border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
border-right-color: #F7F9F8;
border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
0% {
  width: 15%; }
50% {
  width: 90%; }
100% {
  width: 10%; } }

@keyframes primary-long {
0% {
  width: 80%; }
50% {
  width: 0%; }
100% {
  width: 80%; } } 

